<h1> <%= @post.title %></h1>
<<<<<<< HEAD
<p><%= @post.content %> </p>
=======
<p><%= @post.content %> </p>
<<<<<<< HEAD
=======
>>>>>>> login
>>>>>>> 9a120180d3ac1f6960364cc0f6de617437c21261
>>>>>>> fea3672cdc8612697698034c3cf9f1696d0b1b26
